#a {
	background-color: red;
}

#a div {
	height: 100px;
	width: 100px
	border: 3px solid black;
	position: absolute;
}

#b {
	background-color: blue;
}

#c {
	background-color: green;
}

#d {
	background-color: yellow;
}

.box {
	height: 600px;
	width: 400px;
	border: 3px solid black;
	display: inline-block;
	position: relative;
}
